
@{
    ViewBag.Title = "BelediyeBaskanlarımız";
}


<br />
<h2>Belediye Başkanlarımız</h2>
<br />
<div class="row">
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="\photos\halilibrahim.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Halil ibrahim Aşgın <br /> (31.03.2019)</h5>
                <p class="card-text">
                    1973 yılında Çorum/Merkez Boğacık Köyünde dünyaya...
                </p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#birinci">
                    Devamını okumak için tıklayın.
                </button>

                <div class="modal fade " id="birinci" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="1">Halil ibrahim Aşgın</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Halil ibrahim Aşgın, 1973 yılında Çorum/Merkez Boğacık Köyünde dünyaya geldi.

                                Üniversite eğitimi dışındaki tüm hayatı Çorum/Merkez'de geçti.

                                İlköğretimini Çorum Cumhuriyet İlkokulunda, orta-öğrenimini Çorum İmam Hatip Lisesinde tamamladı.

                                Lisans eğitimini 1997 yılında İstanbul Üniversitesi Siyasal Bilgiler Fakültesi Kamu Yönetimi Bölümünde bitirdi.

                                Halil İbrahim Aşgın yüksek lisansını Marmara Üniversitesinde yerel yönetimler alanında yaptı.

                                Doktora eğitimini ise Hitit Üniversitesinde sosyoloji alanında tamamladı.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="/photos/zekigul.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Zeki Gül <br /> (05.02.2018)</h5>
                <p class="card-text">
                    1962 yılında Alaca’da doğdu.

                    İlk, orta ve Lise tahsilini Alaca’da...
                </p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ikinci">
                    Devamını okumak için tıklayın.
                </button>

                <div class="modal fade " id="ikinci" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="1">Zeki Gül</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Zeki Gül, 1962 yılında Alaca’da doğdu.

                                İlk, orta ve Lise tahsilini Alaca’da tamamladı. Lisans ve Yüksek Lisansını Ankara Üniversitesi İlahiyat Fakültesinde yaptı.

                                Çeşitli okullarda öğretmenlik ve okul müdürlüğü görevlerinde bulundu. Vakıf yöneticiliği ve Eğitim-Bir-Sen’in Alaca kurucu başkanlığı ile birlikte yerel bir gazetede üç yıl köşe yazarlığı ve fahri muhabirliğini icra etti.

                                29 Mart 2009 ve 30 Mart 2014 tarihinde yapılan Mahalli İdareler Seçimlerinde AK Parti’den Belediye Meclis üyesi seçildi.

                                Evli ve iki çocuk babasıdır.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="\photos\kulcu.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Muzaffer Külcü <br /> (29.03.2009)</h5>
                <p class="card-text">
                    1971 yılında Çorum’da doğdu.

                    İlkokulu Bayat...
                </p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#üçüncü">
                    Devamını okumak için tıklayın.
                </button>

                <div class="modal fade " id="üçüncü" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Muzaffer Külcü</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Muzaffer Külcü, 1971 yılında Çorum’da doğdu.

                                İlkokulu Bayat Köyü'nde, orta ve lise eğitimini ise İmam Hatip Lisesi'nde tamamladı.

                                Lise yıllarından itibaren aktif olarak çeşitli sivil toplum örgütlerinde başkanlık ve yöneticilik yaptı.

                                1991-1992 yılında Samsun 19 Mayıs Üniversitesi İşletme Bölümünde okurken, Marmara Üniversitesi Hukuk Fakültesi'ni kazandı.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="\photos\b_atlamaz.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Turan Atlamaz <br /> (02.04.2003)</h5>
                <p class="card-text">
                    1960 yılında Mecitözü/Elvançelebi Köyü doğumludur.

                    İlkokulu...
                </p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dördüncü">
                    Devamını okumak için tıklayın.
                </button>

                <div class="modal fade " id="dördüncü" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Turan Atlamaz</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Turan Atlamaz, 30 Haziran 1960 Çorum Mecitözü/Elvançelebi Köyü doğumludur.

                                İlkokulu kendi köyünde okuyan Atlamaz Devlet Yatılı Okul Sınavlarını kazanarak orta okul ve

                                liseyi Hasanoğlan İlköğretmen Okulunda okumuştur. Matematik bölümü mezunudur. Yüksek öğrenimine

                                Gazi Üniversitesi Basın Yayın ve Halkla İlişkiler ile başlayan Atlamaz daha sonra İstanbul

                                Üniversitesi Siyasal Bilgiler Fakültesi Kamu Yönetimini bitirmiştir.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>