
@{
    ViewBag.Title = "Gezilecekyerler";
}

<style>
    p {
        font-size: 20px;
    }

    #alacahöyük {
        max-width: 50%;
    }

    #incesukanyonu {
        max-width: 50%;
    }
</style>
<br />
<div class="row">
    <div>
        <h1 class="text-center">Alacahöyük Antik Kenti Ve Müzesi Bilgileri</h1>

        <br />

        <p>
            Alaca höyük olarak da bilinmekle birlikte Anadolu’nun en eski höyüklerindendir ve müzesi içinde sergilediği eserleri ile Anadolu
            tarihine ışık tutmaktadır. Alacahöyük Çorum ilinin Alaca ilçesine bağlıdır. Türkiye İdari Haritası içeriğinde Çorum ilinin Karadeniz
            bölgesine bağlı olmasına rağmen, Alacahöyük ören yeri fiziki olarak İç Anadolu Bölgesi sınırları içerisinde bulunmaktadır. Alacahöyük,
            Atatürk’ün cumhuriyetin genç zamanlarında Anadolu tarihine verdiği önemin bir göstergesi olarak günümüze kadar gelmiştir. Anadolu’da Türk
            tarihinin başlangıcına ve gelişimine önem veren Atatürk, kurdurduğu Türk Tarih Kurumu yoluyla parasal destek sağladığı (ilk kazı maliyetini
            cebinden karşılamıştır) kazıları, dönemin iki arkeoloğu olan Hamit Zübeyir Koşay ve Remzi Oluş Arık’a önermiştir. Böylece, tarih ve arkeoloji
            literatürüne geçen ilk milli kazı başlamıştır. Alacahöyük’te gün ışığına çıkan bulgular, buluntular ve tarihi eserler bugün Alacahöyük Müzesi’nde
            , Ankara’daki Anadolu Medeniyetleri Müzesi’nde tarihi aydınlatmak için sergilenmektedir. Bu anlamda ülkemizde gelişen müzeciliğin de katkısı büyüktür.
            Alacahöyük Müze’sinde birçok müzede olmayan bir pano vardır. Bu panoda Atatürk’ün tarihe ve Alacahöyük kazılarına ne kadar önem verdiğinin bilgisi vardır.

            Alacahöyük antik kenti ve müzesinde Müzekart geçmektedir, eğer Müzekart yoksa giriş ücreti 10 TL‘dir. Müze ve ören yeri Yaz ve Kış dönemi, farklı saatlerde
            açılmakta ve kapanmaktadır. Yaz dönemi denilen 1 Nisan – 1 Ekim 08:00 ile 19:00 saatleri arası, Kış dönemi denilen 1 Ekim – 1 Nisan arasında ise 08:00 ile
            17:00 saatleri arası açıktır. Ayrıca daha detaylı bilgi almak isterseniz müze iletişim numarası olan 0364 4227011 numaralı telefonu arayabilirsiniz.
        </p>

        <br />
        <div class="row">
            <img id="alacahöyük" src="\photos\Alacahöyük antik kent.jpg" alt="Alacahöyük antik kenti" />
            <iframe class="col-6"
                    src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d12954.560272792562!2d34.6128366516391!3d40.02003797236157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zw6dvcnVtIGhhdHR1xZ9hxZ8!5e0!3m2!1str!2str!4v1619374616070!5m2!1str!2str"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
            </iframe>
        </div>
        <br />
    </div>

    <div>
        <br />
        <p>------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
        <br />
        <h1 class="text-center">Boğazköy Müzesi</h1>
        <p>
            Çorum’un güneybatısındaki Boğazkale ilçe merkezinde yer almaktadır. 12 Eylül 1966 yılında açılan müze, 2011 yılında yeniden düzenlenmiştir.
            Müzede, Hitit başkenti Hattuşa kazılarında açığa çıkartılan eserler sergilenmektedir. Boğazkale Müzesi'nin teşhir salonlarında tematik ve kronolojik sergileme yapılmıştır.
            Zemin kat birinci salonda Kalkolitik, Eski Tunç Çağı ve Asur Ticaret Kolonileri Çağı eserleri ile başlayan teşhir düzeni kronolojik olarak Frig, Galat,
            Roma Dönemi ile devam etmekte ve Doğu Roma Dönemi ile son bulmaktadır.
        </p>
        <div class="text-center">
            <a class="btn btn-primary" href="https://sanalmuze.gov.tr/muzeler/CORUM_BOGAZKOY_MUZESI/" role="button">Müzeyi canlı gezmek için tıklayınız</a>
        </div>
        <br />
        <div class="text-center">
            <img src="\photos\Boğazköy Müzesi.jpg" alt="Boğazköy Müzesi" />
        </div>

        <br />

        <h1 class="text-center"> İncesu Kanyonu</h1>
        <p>
            Ortaköy İlçesi İncesu Köyü'ndedir. Özellikle tek giriş ve çıkışı bulunan İncesu Kanyonu,12.5 kilometre uzunluğundadır. Genişliği 40-60 metre arasında değişmektedir.
            Kanyonun her iki yamacı sarp kayalık olup, yer yer ormanlık alanlara rastlamak mümkündür. Kanyon rafting ve trekking sporları için uygun özellikler taşımaktadır.
            Bir doğa harikası olan kanyon, görülmeye değer güzelliktedir.

            Trekking yapılabilecek parkur güzergahı; Yozgat İli Aydıncık İlçesi Kazankaya Beldesi'nden başlamakta, Çorum-Ortaköy-İncesu Köyü'nde bitirilmektedir.
            Parkurun, suyun akış hızının yoğun olduğu dönemlerde rafting sporuna elverişli olduğu düşünülmektedir. Diğer zamanlarda kanyon yürüyüş parkuru olarak
            kullanılarak bir tabiat harikasının gözlenmesi sağlanabilir.
        </p>
        <div class="row">
            <img id="incesukanyonu" src="\photos\İncesu Kanyonu.jpg" alt="incesu kanyonu" />
            <iframe class="col-6" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3044.3109576858355!2d35.33681274317771!3d40.26884216569905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4080b024127d20e5%3A0x44b6c530f74699ee!2s%C4%B0ncesu%20Kanyonu!5e0!3m2!1str!2str!4v1619466256025!5m2!1str!2str"
                    width="600"
                    height="450"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy">
            </iframe>
        </div>

        <br />
        <br />
    </div>
</div>


