
@{
    ViewBag.Title = "Index";
}

<br />

<div class="container">
    <div class="text-center">
        <h1>ÇORUM</h1>
        <br />
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="\photos\spor_tutkunu_gencin.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">42 Madalya kazandı</h5>
                    <p class="card-text">
                        Hitit Üniversitesi Beden Eğitimi ve Spor Meslek Yüksekokulu (BESYO) öğrencisi 24 yaşındaki
                        Hamza Şimşek, farklı branşlarda kazandığı 42 madalyanın yanı sıra 4 antrenörlük ve 2 hakemlik belgesinin de sahibi.
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="\photos\terminaldeki_9_adet_isyeri.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">9 adet  işyeri kiraya verilecek</h5>
                    <p class="card-text">
                        Belediye iki il otobüs yazıhanesini 126 bin TL, 2 ilçe otobüs yazıhanesini ise 21 bin TL
                        bedel üzerinden açık artırma ile yarın saat 14.30’da düzenlenecek olan ihaleyle kiraya verecek.
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="\photos\yaylacik_ornek_koy.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Yaylacık, “örnek köy” olma yolunda</h5>
                    <p class="card-text">
                        “Mezarlık, köy ilkokulu ve Demirci Baba” türbesiyle ilgili geçtiğimiz Mayıs ayından itibaren
                        hazırlanan ve çalışmalarına başlanan projede sona gelindi.
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="\photos\mustafa_sarigul_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mustafa Sarıgül bugün Çorum’da</h5>
                    <p class="card-text">
                        Türkiye Değişim Partisi Genel Başkanı Mustafa Sarıgül bugün Çorum’a geliyor. <br />
                        TÜV-TÜRK Muayene İstasyonu önünde karşılanacak ve basın mensupları ile bir araya gelecek.
                    </p>
                </div>
            </div>
            <br />
            <br />
        </div>

        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="\photos\elektrik_uretiyorlar.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hem çatıda, hem duvarda elektrik üretiyorlar</h5>
                    <p class="card-text">
                        Tarım ve Kırsal Kalkınmayı Destekleme Kurumu tarafından, IPARD II 9.
                        çağrısında projesi desteklenen Sarıaslan Yem Hammaddeleri, Organize Sanayi Bölgesinde (OSB) yenilenebilir enerji
                        yatırımı yaparak güneş enerjisi santrali (GES) kurdu.
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="\photos\av_icin_araziye_giden.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Av için araziye giden vatandaşı öldüren şahıs tutuklandı</h5>
                    <p class="card-text">
                        Olay, ilçeye bağlı Çatkara köyünde meydana gelmişti. Edinilen bilgiye göre, av için evden çıkan Ahmet Y.
                        (75), akşam eve dönmeyince yakınları jandarmaya haber vermişti.
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="\photos\24-saatte.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">24 saatte 20 bin 874 kişi</h5>
                    <p class="card-text">
                        Sağlık Bakanlığı, Günlük Koronavirüs Tablosu'nu "covid19.saglik.gov.tr" adresinden paylaştı.
                        Buna göre, son 24 saatte 354 bin 254 Kovid-19 testi yapıldı, 20 bin 874 kişinin testi pozitif çıktı,
                        192 kişi yaşamını yitirdi, iyileşenlerin sayısı 29 bin 883 oldu.
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="\photos\cover_kavga.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kavga ihbarına giden iki polis aracı çarpıştı</h5>
                    <p class="card-text">
                        Çorum'da iki gurubun kavga ettiği ihbarına giden iki polis aracı çarpıştı.
                        Kazada 2 polis yaralandı. Kaza, gece saat 00.30 sıralarında Gazi Caddesi'nde meydana geldi.
                        İki grup arasında kavga yaşandığı ihbarına giden polis ekibi taraflara müdahale etmek istese de yetersiz kaldı.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>  