
@{
    ViewBag.Title = "Yemekler";
}

<style>
    #kuzutandır {
        max-width: 60%;
        align-content: center;
    }

    #corummantisi {
        max-width: 60%;
    }

    #iskilipdolmasi {
        max-width: 65%;
    }
</style>
<br />

<div class="row">
    <div>
        <h1 class="text-center">Kuzu Tandır</h1>

        <br />

        <p>
            Davet sofralarının en özel konuğu nefis lezzetiyle damaklarda iz bırakmaya geliyor.
            Türk mutfağının en sevilen lezzetlerinden Kuzu Tandır en pratik tarifi ve lokum gibi kıvamıyla huzurlarınızda.
            Davet sofralarınızda hem görüntüsüyle hem lezzetiyle akıllarda kalacak nefis bir tarif olacak.
            Yanına hazırlayacağınız Tereyağlı Pirinç Pilavı ve Çoban Salatayla mükemmel uyum sağlayacak.
        </p>

        <br />
        <div class="text-center">
            <img id="kuzutandır" src="\photos\kuzu-tandir.jpg" alt="KuzuTandır" />
        </div>
        <br />
    </div>

    <div>
        <br />
        <br />
        <h1 class="text-center"> Çorum mantısı</h1>
        <p>
            Özel günlerinizi renklendirmek veya yeni lezzetler keşfetmek için hamur işi tarifleri sizler için vazgeçilmez olacak.
            Göçebe Türkler tarafından Anadolu'ya getirilen klasik mantı, Kayseri ile özdeşleştirilmiştir.
            Temel malzemeleri kıyma ve hamur olan bu yemek, tatar böreği olarak da bilinir.
            Kırgız ve Kazak mutfağında farklı tekniklerle hazırlanan mantı, vücuda gerekli olan enerjiyi verir.
            Protein değeri yüksek olduğu için, sporculara tavsiye edilen besin kaynaklarından biridir.
            Bir diğer enfes mantı da Çorum mantısıdır biz sizler için bu gün Çorum mantısı hazırladık. İşte sizler için Çorum mantısı tarifi
        </p>

        <br />

        <h1 class="text-center"> Nasıl Yapılır</h1>
        <p>
            Unun üzerine bir tutam tuz serpilir ve biraz su dökülüp toparlanana kadar yoğrulur ve üç bezeye ayrılır.
            İlk iki beze açılır ve karelere kesilir. Hamurlar içi boş bir şekilde kapatılıp yağlanmış tepsiye düzgünce dizilir.
            Harcı için; biraz su ilave edilen kıyma kavrulur. Kavrulan kıymaya ince ince kıyılmış maydanozlar eklenir.
            1 yemek kaşığı tereyağı eritilir ve dolu dolu bir yemek kaşığı salça kokusu çıkana kadar kavrulur.
            Kavrulan salçanın üzerine 2 bardak su ve 1 tatlı kaşığı pul biber eklenir. Son beze tepsi büyüklüğünde açılır.
            Mantılar üzerine bir kaç parça tereyağı koyularak ocakta tepsi devamlı çevrile çevrile kızartılır.
            Kızaran mantıların üzerine kıymalı iç döşenir ve tepsi büyüklüğünde açılan yufka serilir.
            Salçalı sos dökülür ve üzerindeki yufka kabarana kadar pişirilir.
            Pişen mantının ortası pencere gibi açılır. Çorum Mantısı servise hazırdır
        </p>
        <div class="text-center">
            <img id="corummantisi" src="\photos\corum-mantisi.jpg" alt="Çorum mantısı" />
        </div>

        <br />
        <br />

    </div>
    <div>
        <h1 class="text-center"> İskilip Dolması</h1>
        <p>
            Daha çok Çorum’un İskilip ilçesinde yapılan bu dolmanın tarihinin Hititlere kadar dayandığı tahmin edilmektedir.
            Bölgenin geleneksel yemeklerinden biri olan İskilip dolması, halk arasında ca dolması olarak da biliniyor.
            Özel günlerin vazgeçilmezi olan yemek, çorum düğünlerinde dolmacı olarak adlandırılan aşçılar tarafından
            yapılıyor ve gelen misafirlere ikram ediliyor.
            Yapımı ustalık gerektiren bu özel yemek büyük kazanlarda pirinç, et, et suyu ve kuyruk yağı ile pişiriliyor.
            Emeği bol olan ve yapımı neredeyse 15 saat süren bu lezzet verilen emeğin karşılığını tadıyla fazlasıyla karşılıyor.
            Osmanlı döneminde askerlerin sefere çıkmadan önce yediği yemek olan, yumuşacık tel tel ayrılan eti ile kendine
            hayran bırakan bu lezzeti İskilip ilçesinde birçok restoranda bulabilirsiniz
        </p>
        <h1 class="text-center"> Nasıl Yapılır</h1>
        <p>
            500 gram iri tuz 3 litre su ile kaynatılır. Kaynarlığı savrularak giderildikten sonra pirinç ıslatılır.
            Diğer tarafta ince doğranmış soğanlar tereyağ ve zeytinyağ ile iyice kavrulur.
            Karamelize rengi alınca pirincin ölçüsüyle bire bir ölçek su verilir.
            Su kaynayana kadar pirinçler tuzlu sudan akıtılarak nişastası kalmayacak şekilde iyice yıkanır.
            Kaynayan suyun içerisine pirinç ilave edilerek salma pilav pişirilir. Pirinçler diri kalacak şekilde ocaktan alınarak,
            ara ara karıştırılıp, iyice soğutulur. “Ca” denilen özel torbaya soğuk pilav doldurulur.
            Dolma kazanının dibine tereyağı ve zeytinyağı konarak etler çok az kızartılır. İçerisine tuz ve iki parçaya ayrılan soğan
            ile etlerin üzerini bir parmak aşacak şekilde su ilave edilir. Kazanın içine saçayağı konur ve üzerine de tepsi
            ters kapatılır, önceden yarım pişirilen pilav ile doldurulan “Ca” torbası tepsinin üzerine konur. Parşomen kağıdı
            ile torbanın etrafı örtülür. Kazanın kapağı kapatılıp bir tek buhar deliği bırakılarak etrafı hamurlanır. İskilip
            Dolması’nın pişme süresi miktara göre değişir. Büyük dolma kazanlarının pişmesi 13 saati bulurken, bu tarifimizdeki
            miktar az olduğu için 4 saat kısık ateşte pişirmek yeterlidir. Kazan açılınca “Ca” torbası alınarak dolma boşaltılır,
            biraz et suyu ile terleme yapılır. Lenger denen sunum kabına alınan dolmanın üzerine kazandan çıkartılan iri didilmiş
            etler yerleştirilip; üzerine biraz et suyu gezdirilir, üzerine tercihen karabiber serpilir. Dolmadan önce şehriye çorbası,
            dolma ile birlikte sirke salatası ve sonrasında helva ile birlikte servis edilir.
            İskilip dolmasının mutfaklarda tarif üzere hazırlanması zor olduğundan, İskilip’te yenmesini özellikle tavsiye ediyoruz.
        </p>
        <div class="text-center">
            <img id="iskilipdolmasi" src="\photos\dolma.jpg" alt="Çorum mantısı" />
        </div>

        <br />
        <br />
    </div>


</div>

